<div class= "card-wrapper">
    <div class = "coach form-control">
        <div class="heading"> 
            <img class = "form-img" src="../../assets/Images/User LogIn.jpg" alt="Coach">
            <span class = "form-heading">User Profile</span>
        </div>
        <div>
            <div>
                <label for = "name" class = "label">Name</label>
                <input type = "text" class = "form-control" />
            </div>
            <div >
                <label for = "password" class = "label">Password</label>
                <input type = "password" class = "form-control" />
            </div>
        </div>
        <div >
            <button class = "btn btn-success">Login</button>
        </div>
    </div>
</div>