<header-coach></header-coach>

<div class="bookings-container">
    <div class="booking">
        <div [ngSwitch]="data.Gender" class="text-center">
            <img class="booking-pic" *ngSwitchCase="'M'" src="./../../assets/Images/male.png" alt="Male">
            <img class="booking-pic" *ngSwitchCase="'F'" src="./../../assets/Images/female.png" alt="Female">
        </div>
            
        <div class="info" align="center">
            <h4>{{ data.Name }}</h4>
            <h5>Coach ID: {{ data.CoachId }}</h5>
            <h5>Speciality: {{ data.Speciality }}</h5>
            <h6>DOB: {{ data.DateOfBirth.substr(0, 10) }}</h6>
            <h6>Contact: {{ data.MobileNumber }}</h6>
        </div>
    </div>
</div>
