<header-coach></header-coach>

<div *ngIf="bookings.length" class="bookings-container">
    <div class="booking appt-data" [style.height.px]="200" *ngFor="let item of bookings">
        <h4>Appointment Date:{{ item.AppointmentDate.substr(0, 10) }}</h4>
        <h4>Slot: {{ item.Slot }} </h4><br/>
        <h5>Booking ID: {{ item.BookingId }}</h5>
        <h5>User ID: {{ item.UserId }}</h5>
    </div>
</div>

<h1 *ngIf="!bookings.length" class="display-4 text-center text-danger">No bookings found for this coach</h1>