<div>
    <div class = "card-wrapper">
        <div class = "register-form-card">
            <div class="heading"> 
                <img class = "form-img" src="../../assets/Images/User LogIn.jpg" alt="Coach">
                <span class = "form-heading">User Profile</span>
            </div>
            <div class = "form-container">
                <form class= "form">
                    <div class = "input-wrap">
                        <div>
                            <label for = "name" class = "label">Name</label>
                            <input type = "text" id = "name" class = "form-control" />
                        </div>
                        <div >
                            <label for = "password" class = "label">Password</label>
                            <input type = "password" id = "password" class = "form-control" />
                        </div>
                    </div >
                    <div class = "input-wrap">
                        <div>
                            <label for = "mob" class = "label">Mobile Number</label>
                            <input type = "text" class = "form-control" />
                        </div>
                        <div >
                            <label for = "email" class = "label">Email</label>
                            <input type = "email" class = "form-control" />
                        </div>
                    </div >
                    <div class = "input-wrap">
                        <div >
                            <label for="dob" class = "label">Date of Birth</label>
                            <input type ="date" id = "dob" class = "form-control" />
                        </div>
                        <div class = "col-6">
                            <label for="gender" class = "label">Gender</label>
                            <input type="radio" value = "M" name="Male" />Male &nbsp;
                            <input type="radio" value = "F" name="Female" />Female
                        </div>
                    </div>
                    <div class = "input-wrap">
                        <div>
                            <label for = "pincode" class = "label">Pincode</label>
                            <input type = "text" class = "form-control" />
                        </div>
                        <div >
                            <label for = "city" class = "label">City</label>
                            <input type = "text" class = "form-control" />
                        </div>
                    </div >
                    <div class = "input-wrap">
                        <div>
                            <label for = "state" class = "label">State</label>
                            <input type = "text" class = "form-control" />
                        </div>
                        <div >
                            <label for = "country" class = "label">Country</label>
                            <input type = "email" class = "form-control" />
                        </div>
                    </div >
                    <div align = "center">
                        <button class = "btn btn-success">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
