<header-user></header-user>

<div class="bookings-container">
    <div class="booking appt-data" [style.width.px]="300" *ngFor="let item of data">
        <h4>Appointment Date:{{ item.AppointmentDate.substr(0, 10) }}</h4>
        <h4>Slot: {{ item.Slot }}</h4>
        <h6>Booking ID: {{ item.BookingId }}</h6>
        <h6>Coach ID: {{ item.CoachId }}</h6>
        <h6>User ID: {{ item.UserId }}</h6>
        <button class="btn-a btn-primary" (click)="rescheduleAppointment(item.BookingId)">Reschedule the appointment</button>
        <button class="btn-a btn-danger" (click)="deleteAppointment(item.BookingId)">Delete the appointment</button>
    </div>
</div> 
<div align="center">
    <button class="btn btn-success" (click)="goBack()">Go Back</button>
</div>