<div>
    <div class = "heading">
        <h1>We are at the heart of Appropriate Care</h1>
    </div>
    <div class = card-wrapper>
        <div class = "coach" align="center">
            <div>
                <img class ="coach-img" src="../../assets/Images/Life Coach LogIn.jpg" alt="A coach image">
            </div>
            <button (click) ="handleCoachLogin()" class = "btn btn-primary"> Login as Coach</button>
            <button (click) ="handleCoachSignup()" class = "btn btn-primary">Join as Coach</button>
        </div>
        <div class = "user" align ="center">
            <div class = "user-img">
                <img src="../../assets/Images/User LogIn.jpg" alt="A User image">
            </div>
            <button (click) ="handleUserLogin()" class = "btn btn-primary"> Login as User</button>
            <button (click) ="handleUserSignup()" class = "btn btn-primary">Join as User</button>
        </div>
    </div>    
</div>
