<header-user></header-user>

<div  class = "heading">
    <h1 style="margin-bottom: -3rem;">Coaches Available: Book an Appointment!</h1>
</div>
<div class="bookings-container">
    <div class="booking" [style.width.px]="300" *ngFor="let item of coaches">
        <div [ngSwitch]="item.Gender" class="text-center">
            <img class="booking-pic" *ngSwitchCase="'M'" src="./../../assets/Images/male.png" alt="Male">
            <img class="booking-pic" *ngSwitchCase="'F'" src="./../../assets/Images/female.png" alt="Female">
        </div>
        <div class="info" align="center">
            <h3>{{ item.Name }}</h3>
            <h5>Coach ID: {{ item.CoachId }}</h5>
            <h5>Mobile Number: {{ item.MobileNumber }}</h5>
            <h5>Speciality: {{ item.Speciality }}</h5> 
            <button class="btn-b btn-primary" (click)="bookAppointment(item.CoachId)">Book an Appointment</button> 
        </div>
    </div>
</div>
