<div class="bookings-container text-light">
    <div class="booking" [style.width.px]="300" *ngFor="let item of coaches">
        <h1 [ngSwitch]="item.gender" class="text-center">
            <i *ngSwitchCase="'M'" class="fas fa-male text-success"></i>
            <i *ngSwitchCase="'F'" class="fas fa-female text-danger"></i>
        </h1>
        <h3>{{ item.name }}</h3>
        <h5>Coach ID: {{ item.coaochID }}</h5>
        <h5>Cell Number: {{ item.mobileNumber }}</h5>
        <h5>Speciality: {{ item.speciality }}</h5>
        <button class="btn btn-primary" [style.marginLeft.px]="-10" (click)="bookAppointment(item.coachID)">Book an appointment</button> 
    </div>
</div>
